<div class="mt-5">
  <form method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tìm kiếm</label>
      <input type="text" name="name" class="form-control" id="search-input" />
      <select name="gender" id="gender-input">
        <option value="">-- Giới Tính --</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>